@use 'resources/config' as c;
@use 'resources/global';

@use 'resources/art01';
@use 'resources/art02-bis';
@use 'resources/art06';
@use 'resources/art13';

@use 'resources/moduloBoton02';

// modificador del art02-bis
.art02-bis{
    .imagenes{
        >a{
            >:nth-child(2){
                font-size: clamp(1rem, 3vw, 2rem);
            }
        }
    }
}



header{
    overflow: hidden;
    background: transparent;
    video{
        position: absolute;
        width: 100dvw;
        height: 100dvh;
        object-fit: contain;
        top: 0;
        bottom: 0;
        z-index: -10;
        // max-height: 100dvh;
    }
}

.art03{
    img{
        object-position: 0 -100px;
    }
}






