@use 'resources/config' as c;
@use 'resources/global';






header{
    background-image: url('../img/vistas/inicio/panaderia-pasteleria-aginaga-1500.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (min-width:c.$tablet){
        background-image: url('../img/vistas/inicio/panaderia-pasteleria-aginaga-1800.avif');
    }
    @media only screen and (min-width:c.$desktop){
        background-image: url('https://dummyimage.com/2560x1400');
    }
    h1{
        color: c.$color00; 
    }
}

.art03{
    img{
        object-position: 0 -100px;
    }
}






