@use 'resources/config' as c;
@use 'resources/global';

@use 'resources/art01';
@use 'resources/art02-bis';
@use 'resources/art06';
@use 'resources/art13';

@use 'resources/moduloBoton02';

// modificador del art02-bis
.art02-bis{
    .imagenes{
        >a{
            >:nth-child(2){
                font-size: clamp(1rem, 3vw, 2rem);
            }
        }
    }
}



header{
    background-image: url('../img/vistas/header-patxi-pintor-restaurador-1500.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (min-width:c.$tablet){
        background-image: url('../img/vistas/header-patxi-pintor-restaurador-1800.avif');
    }
    @media only screen and (min-width:c.$desktop){
        background-image: url('../img/vistas/header-patxi-pintor-restaurador-2560.avif');
    }    
}

.art03{
    img{
        object-position: 0 -100px;
    }
}






