@use 'resources/config' as c;
@use 'resources/global';

@use 'resources/art01';
@use 'resources/art03';
@use 'resources/art10';

@use 'resources/moduloBoton02';




header{
    overflow: hidden;
    background: transparent;
    width: 100vh;
    height: 100dvh;
    
    video{
        position: absolute;
        width: 100dvw;
        max-height: 100dvh;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;

        z-index: -10;
    }
}
