@use 'resources/config' as c;
@use 'resources/global';

@use 'resources/art03';
@use 'resources/art09';
@use 'resources/art11';
@use 'resources/art13';



header{
    background-image: url('../img/vistas/productos/panes-pasteles-1500.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (min-width:c.$tablet){
        background-image: url('../img/vistas/productos/panes-pasteles-1800.avif');
    }
    @media only screen and (min-width:c.$desktop){
        background-image: url('../img/vistas/productos/panes-pasteles-2560.avif');
    }
}
