@use 'resources/config' as c;
@use 'resources/global';

@use 'resources/art07';
@use 'resources/art09';
@use 'resources/art10';



header{
    background-image: url('../img/vistas/header-patxi-pintor-restaurador-header-1500.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (min-width:c.$tablet){
        background-image: url('../img/vistas/header-patxi-pintor-restaurador-header-1800.avif');
    }
    @media only screen and (min-width:c.$desktop){
        background-image: url('../img/vistas/header-patxi-pintor-restaurador-header-2560.avif');
    }
}

.art10{
    .matrix-items{
        .ficha{
            img{
                filter: c.$color03svg;
            }
            .sub-header{
                font-size: clamp(1rem, 3vw, 1.4rem);
            }
        }
    }
}

